# pycache files
*.pyc

# virtualenv
env/*

# jupyter notebook checkpoints
.ipynb_checkpoints/*

# tensorflow summaries
summaries/*

# dataset of mmc value functions
metamountaincar/mmcDataset/*

# pretrained alpaca networks
Pretrained_alpaca/*

# experiment plots
Plots/*
